/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1800px) {
	aside.scroll-panes {
		z-index: 99999;
		width: 325px;
		left: -325px;
		top: 0;
		position: fixed;
		box-shadow: -2px 0px 12px rgba(0,0,0,0.2);
		min-height: 1000px;
	}
	.sandwich {
		display: block;
	}
	.event
	.reports_container,
	.reports_container,

	.event {
		float: none;
		margin: 50px 0 0 50px;
		width: auto;
		overflow: hidden;
	}
	.profile{
		float: none;
		margin: 0;
		width: auto;
		overflow: hidden;
	}
	.emplyee {
		float: none;
		margin: 50px 0 0 25px;
		width: auto;
		overflow: hidden;
	}
	.event {
		overflow: visible;
	}
	.event_cont li {
		width: 270px;
	}
	.event_cont .event_info li {
		width: 100%;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.settings-table table td {
  		max-width: 170px;
  		min-width: 80px;
	}
}
@media only screen and (max-width : 1100px) {
	.event_cont {
		width: 50%;
	}	
	.event{
		text-align: left;
	}
	.event .event-main, .event .event-special {
		text-align: left;
	}
	.evelopments_content_table table td {
  		max-width: 170px;
  		min-width: 80px;
	}
	.settings-table table td {
  		max-width: 130px;
  		min-width: 40px;
	}
	.table-button .table-edit,
	.table-button .table-close,
	.table-button .table-delete {
  		display: inline-block;
  		cursor: pointer;
  		margin: 0 2px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.top_block_head_left .search {
		position: absolute;
		top: 20px;
		right: -10px;
	}
	.evelopments_content_table table td {
  		max-width: 140px;
  		min-width: 50px;
	}
	.settings-table table td {
  		padding: 9px 5px;
  		max-width: 130px;
  		min-width: 40px;
	}
}
@media only screen and (max-width : 920px) {
	.evelopments_content_table table td {
  		padding: 9px 5px;
  		max-width: 140px;
  		min-width: 10px;
	}
	.settings-table table td {
  		padding: 9px 5px !important;
  		max-width: 120px;
  		min-width: 10px;
	}
	.reports_container {
		margin-left: 25px;
	}
	.evelopments_content_table table tr,
	.settings-table table tr {
	  font: 12px "RobotoRegular";
	}
	.evelopments_content_table table tr:first-child,
	.settings-table table tr:first-child {
	  font: 12px "RobotoRegular";
	}
}
@media only screen and (max-width : 820px) {
	.event-main, .event-special {
		margin: 20px 0 0;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 790px) {
	.reports_container li a,
	.reports_container .top_container_head li span {
		padding: 5px 10px;
	}
	.evelopments_content_table,
	.settings-table {
		overflow: auto;
		width: 100%;
	}
}
@media only screen and (max-width : 700px) {
	.event_cont li {
		margin: 0 0 30px;
	}
	.top_block_head_left .search input {
		margin: 0
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 580px) {
	.reports_container li {
		float: none;
	}
	.reports_container li a {
		border-bottom:1px solid #228FC2;
		border-left: 0;
	}
	.reports_container li a:last-child {
		border: 0;
	}
	.topic_cont {
	    font-size: 24px;
	}
	aside.scroll-panes {
		width: 280px;
		left: -280px;
	}
	.sandwich {
	    top: 5px;
	    right: -34px;
	}
/*********************************************************/
	/*
	.emplyee-middle table tr:first-child td {
		-moz-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
	}
	.emplyee-middle table tr:first-child td:first-child {
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
	}
/*********************************************************/
	.emplyee-middle table tr td {
		margin: 0;
		padding: 9px 2px;
	}
	.emplyee-middle table tr {
		font-size: 10px;
	}
	.emplyee-middle table tr:first-child {
		font-size: 12px;
	}
	.emplyee {
		text-align: center;
	}
	.emplyee-left,
	.emplyee-right,
	.emplyee-middle {
		margin: 50px 0 0 8px;
		padding: 23px 5px 30px;
		vertical-align: top;
	}
	.emplyee {
		margin: 0;
	}
}
@media only screen and (max-width : 500px) {
	.event-block ul li {
		margin: 0px 3px;
	}
	.add-button, .green-button,
	.event-block p {
		width: 190px;
		font-size: 15px;
	}
	.add-button::before {
	    left: 5px;
	}
	.edit-special .edit-data, .edit-main .edit-data {
		width: 210px;
	}
}
@media only screen and (max-width : 400px) {
	.logo_block {
		display: none;
	}
	.top_block_head_left .search {
	    position: absolute;
	    top: 5px;
	    right: -32px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 370px) {
	.search_cont,
	.event_cont,
	.event_cont li {
		width: 270px;
		margin: 0 auto 30px;
		float: none;
	}
	.search_cont {
		padding: 20px 15px;
	}
	.search_cont .sandwich-wrap,
	.search_cont .sandwich-block  {
	  	width: 238px;
}